:root{
    --rojo: rgba(222,11,4,255);
    --azul: rgba(0,144,198,255) ;
    --naranja: rgba(251,141,4,255) ;
    --verde:  rgba(47,186,0,255) ;
    --gris: rgba(12,27,46,255) ;
    --sombreadoHover: rgba(247,242,242,0.2);
    --negro: black;
    --rosa: #e8bdd9;
    --verde-flojo: rgb(199, 239, 226);
    --blanco: white;

}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color:var(--verde-flojo);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5em;
    flex-direction: row;

}
/*Barra de navegacion*/
.navegador{
    background-color:var(--negro);
    width: 100vw;
    height: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
/*Logo*/
.logo img {
    width: 100px;
    height: 100px;
    padding: 5px; 
}



#logo {
    width: 5em;
    height: 4em;
}

.aling-logo{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10em;
}
/*Elementos del menu*/
ul.menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50em;
    flex-direction: row;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;


}
li.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}



a.link-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--blanco);
    text-decoration: none;
    width: 5em;
    height: 5em;
}

a.link-menu:hover {
    background-color:var(--sombreadoHover);
    text-decoration: underline;
}
/*main del elemento index*/
main {
        color: var(--blanco);
}
section.principal{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    justify-items: center;
    align-content: center;
    margin: 5em;
    gap: 5em;
    
   
}


article.description-principal{
    margin: 5em;
    font-size: large;

}

.cuadrado {
    width: 15em;
    height: 15em;
    background-color:var(--rosa); 
    border: 2px solid #ffffff; 
    border-radius: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10em;
}
/* targetas pagina de contacto */
.alinear{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.foto-perfil{
    width: 20em;
    height: 20em;
    
}

.targeta{
    border: 2px solid;
    border-radius: 5%;
    overflow: hidden;
    
}
section.contacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    
}
.titulo-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.description{
    margin: 2em;
    
}
/*footer */
footer {
    height: 5em;
    background-color: var(--negro);
    position: absolute;
    bottom: 0;
    width: 100%;
  }