:root{
    --rojo: rgba(222,11,4,255);
    --azul: rgba(0,144,198,255) ;
    --naranja: rgba(251,141,4,255) ;
    --verde:  rgba(47,186,0,255) ;
    --gris: rgba(12,27,46,255) ;
    --sombreadoHover: rgba(247,242,242,0.2);
    --negro: black;
    --rosa: #e8bdd9;
    --verde-flojo: rgb(199, 239, 226);
    --blanco: white;
    --amarillo: rgb(245, 214, 76);
    --color-fondo: rgb(255,255,255);
       background: linear-gradient(90deg, rgba(227,134,81,1) 0%, rgba(255,201,0,0.7511379551820728) 100%);

}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color:--verde-flojo;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5em;
    flex-direction: row;

}
/*Barra de navegacion*/
.navegador{
    background-color:var(--negro);
    width: 100vw;
    height: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    
}
/*Logo*/
.logo img {
    width: 100px;
    height: 100px;
    padding: 5px; 
}

.logo li::marker {
    display: none;
}

#logo {
    margin-left: -43px;
    margin-top: 16px;
}


.aling-logo{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10em;
}
/*Elementos del menu*/
ul.menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50em;
    flex-direction: row;
    gap: 2em;
    list-style: none;
    padding: 0;
    


}
li.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
   
}



a.link-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    text-decoration: none;
    width: 4em;
    height: 3em;
    font-size: 20px;
}

a.link-menu:hover {
    background-color:var(--sombreadoHover);
    text-decoration: underline;
}

li {
    list-style: none;
}
/*main del elemento index*/
main {
        color: var(--blanco);
}
section.principal{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    justify-items: center;
    align-content: center;
    margin: 5em;
    gap: 5em;
    
   
}
h2.titulo{
    font-size: 3em;
    margin: 0;
    padding: 0;
}


article.description-principal{
    margin: 3em;
    font-size: 2em;
    

}

.cuadrado {
    width: 10em;
    height: 9em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color:var(--rosa); 
    border: 2px solid #ffffff; 
    border-radius: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    gap: 0;
}

.cuadrado1 {
    width: 10em;
    height: 9em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color:var(--rosa); 
    border: 2px solid #ffffff; 
    border-radius: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    gap: 0;
}

/* Cuadrados separados */
.cuadrado:nth-child(1) {
    background-image: url('/assets/recourses/img/categorias/musica.png');
    background-color:var(--naranja);
    
}
.cuadrado:nth-child(2) {
    background-image: url('/assets/recourses/img/categorias/cine.png');
    background-color:var(--amarillo);
}
.cuadrado:nth-child(3) {
    background-image: url('/assets/recourses/img/categorias/ciencias1.png');
    background-color:var(--azul);
}
.cuadrado:nth-child(4) {
    background-image: url('/assets/recourses/img/categorias/cultura1.png');
    background-color:var(--verde);
   
}
.cuadrado:nth-child(5) {
    background-image: url('/assets/recourses/img/categorias/deporte1.png');
    background-color:var(--rojo);
}
.cuadrado:nth-child(6) {
    background-image: url('/assets/recourses/img/categorias/lifehacks.png');
    background-color:var(--gris);
}
.containner-Juega{
    width: 100vw;
    margin-bottom: 7em;

   
}
button.Juega{
    background-color: var(--rosa);
    margin-bottom:10px;
    color: var(--blanco);
    border-radius: 20px;
    width: 20em;
    height: 5em;
    font-size: 2em;
}

/* targetas pagina de contacto */
.alinear{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em
}

.foto-perfil{
    width: 20em;
    height: 20em;
    object-fit:cover;
    
}

.targeta{
    border: 2px solid;
    border-radius: 5%;
    overflow: hidden;
    background-color: var(--blanco);
    
}
.contenido-contacto{
    border: 2px solid;
    background-color: var(--blanco);
    border-radius: 20px;

}
section.contacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    
}
.titulo-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.texto-contacto{
    font-size: 2em;
    margin-left: 1em;
}
.contenido-texto-contacto{
    margin-left: 2.5em;
}

.description{
    margin: 2em;
    margin-bottom: 7em;
    
}

/* html nombres */
main.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
}
input.name{
    border-radius: 10px;
    width: 30em;
    height: 2em;

}
.enviar-form{
    text-align: center;
}
button#name{
    background-color: var(--rosa);
    margin-top: 1em;
    border-radius: 10px;
    width: 8em;
}
.audio{
    display: flex;
    justify-content: end;
    align-items: end;
}
#bSilencio{
    background-color: var(--negro);
    border: none;
}
/*footer */

  .index-footer{
    position: fixed;
   margin-top: 10em;
  }
  footer {
    height: 5em;
    background-color: var(--negro);
    bottom: 0;
    width: 100%;
    color: var(--blanco);
    text-align: center;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 a.Hack{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2em;
    width: 100%;
    height: 25px;
    border: 0;
    margin-bottom: 0;
 }
 a.Hack:hover{
   background-color: var(--sombreadoHover);
 }
 p.pfooter {
    color: var(--blanco);
 }

 /*Media quarys para moviles */
 @media (min-width: 300px) and (max-width: 500px){ 
    .cuadrado {
        width: 12em;
        height: 7em;
        
    }

    .cuadrado:nth-child(1) {
        background-image: url('/assets/recourses/img/categorias/musica.png');
        background-color:var(--naranja);
        display: none;
    }
    .cuadrado:nth-child(2) {
        background-image: url('/assets/recourses/img/categorias/cine.png');
        background-color:var(--amarillo);
        display: none;
    }
    .cuadrado:nth-child(3) {
        background-image: url('/assets/recourses/img/categorias/ciencias1.png');
        background-color:var(--azul);
        display: none;
    }
    .cuadrado:nth-child(5) {
        background-image: url('/assets/recourses/img/categorias/deporte1.png');
        background-color:var(--rojo);
        display: none;
    }
    .cuadrado:nth-child(6) {
        background-image: url('/assets/recourses/img/categorias/lifehacks.png');
        background-color:var(--gris);
        display: none;
    }

    ul.menu{
        gap: 4px;
    }

    a.link-menu {
        font-size: 14px;
    }

    article.description-principal {
        margin: 1em;
        font-size: 3em;
    }

h2.titulo{
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
}
    
p {
    font-size: 13px;
    margin-top: 0;
}

.texto-contacto {
    font-size: 15px;
    margin-bottom: 4px;
}

    button.Juega {
        width: 8em;
        height: 2em;
        font-size: 29px;
    }

    a.Hack {
        font-size: 40px;
        height: 100%;
    }

    /* Estilos para el apartado de Contactanos de Media Quarys */
    .foto-perfil {
        width: 7em;
        height: 7em;
    }

    .targeta {
        width: 11em;
        height: 13em;
    }

    .contenido-texto-contacto {
        font-size: 11px;
        margin-bottom: 8px;
        margin-left: 0.5em;
        
        
    }
    .contenido-contacto {
        width: 97%;
        margin-left: 4px;
        margin-bottom: 5em;
    }
    .alinear {
        justify-content: center;
        align-items: center;
        gap: 2em;
        height: 4em;
    }

h2.alinear {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

img {
    width: 14px;
    height: 13px;
}

/*Medias para PREGUNTAS*/
.imagenPregunta{
    height: 0;
    width: 0;
}
.contenedorPreguntas {
    width: 50vh;
}
/*Medias para Nombres*/
input.name {
width: 21em;
}
.logogift {
    height: 20rem;
    width: 20rem;
}
}
/* Medias para tablets */
@media (min-width: 500px) and (max-width: 800px){
    .foto-perfil {
        width: 10em;
        height: 10em;
    }

    .targeta {
        width: 10em;
        height: 22em;
    }

    .contenido-texto-contacto {
        font-size: 11px;
        margin-bottom: 8px;
        margin-left: 0.5em;
        
        
    }
    .contenido-contacto {
        width: 97%;
        margin-left: 4px;
        margin-bottom: 5em;
    }
    .alinear {
        justify-content: center;
        align-items: center;
        gap: 2em;
        height: 4em
}
.logogift {
    height: 20rem;
    width: 20rem;
}
}
/* Medias para portatiles y monitores */
@media (min-width: 800px) and (max-width: 2560px){
    .foto-perfil {
        width: 12em;
        height: 11em;
    }

    .targeta {
        width: 12em;
        height: 22em;
    }

}


/* Apartado de Preguntas */
.contenedorPreguntas {
    width: 98vh;
    height: 45vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.encabezadoPreguntas {
    position: relative;
    background: #fafafa;
    min-width: 300px;
    width: 70%;
    max-width: 600px;
    padding: 10px;
    color: var(--rosa);
}

.categoriaPregunta {
    opacity: 0.3;
    text-align: left;
}

.preguntaPregunta {
    padding: 10px;
}

.botonPregunta {
    background: var(--rosa);
    color: #fff;
    width: 60%;
    max-width: 550px;
    padding: 17px; 
    margin: 5px;
    cursor: pointer;
    text-align: center; 
}

.botonPregunta:hover {
    transform: scale(1.05);
    background-color: var(--negro);
    transition: 1s;
  }

.imagenPregunta {
    object-fit: cover;
    height: 200px;
    width: 100%;
}
.boton-enviar-respuestas {
    border-radius: 20px;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 10px 20px;
    margin: 10px; 
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}