:root{
    --red: rgba(222,11,4,255);
    --azul: rgba(0,144,198,255) ;
    --naranja: rgba(251,141,4,255) ;
    --verde:  rgba(47,186,0,255) ;
    --gris: rgba(12,27,46,255) ;

}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: row;
   
}
.navegador{
    background-color: var(--gris);
    width: 100vw;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    width: 100%;
    flex-direction: row;
    padding: 0;
    
}
.aling-logo{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50vw;
    flex-direction: row;
    gap: 30px;
    color: var(--verde);
    list-style: none;
    
   
}