<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaQuiz</title>


    <link rel="apple-touch-icon" sizes="180x180" href="/assets/recourses/favicon-pizza/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/recourses/favicon-pizza/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/recourses/favicon-pizza/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <header>
        <nav class="navegador">
            <div class="aling-logo">
                <ul class="logo">
                    <li><img id="logo" src="/assets/recourses/favicon-cerebro/android-chrome-192x192.png" alt="" />
                    </li>
                </ul>
            </div>
            <ul class="menu">

                <li><a class="link-menu" href="/index.html">Home</a></li>
                <li><a class="link-menu" href="./ranking.html">Ranking</a></li>
                <li><a class="link-menu" href="./contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>


    <main class="alinear form">
        <img src="../recourses/favicon-cerebro/output-unscreen.gif" alt="">
        <form id="usuario" name="usuario">
            <div>
                <input class="name" name="userName" type="text" id="name" placeholder="Pon tu nombre aqui ">
            </div>
            <div class="enviar-form">
                <button id="name" type="submit">Enviar</button>
            </div>
        </form>
    </main>

    <footer class="index-footer">
        <a class="Hack" href="https://www.hackaboss.com/">Hack a Boss</a>
        <p class="pfooter">Canarias | Barcelona | Madrid</p>
    </footer>


</body>

</html>