<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="apple-touch-icon" sizes="180x180"
        href="./assets/recourses/favicon/android-chrome-192x192-removebg-preview.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="./assets/recourses/favicon/favicon-32x32-removebg-preview.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="./assets/recourses/favicon/favicon-16x16-removebg-preview.png">
    <link rel="manifest" href="./assets/recourses/favicon/site.webmanifest">
    <link rel="mask-icon" href="./assets/recourses/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <header>
        <nav class="navegador">
            <div class="aling-logo">
                <ul class="logo">
                    <li><img id="logo" src="../recourses/favicon/android-chrome-192x192.png" alt="">
                    </li>
                </ul>
            </div>
            <ul class="menu">

                <li><a class="link-menu" href="/index.html">Home</a></li>
                <li><a class="link-menu" href="./assets/templates/ranking.html">Ranking</a></li>
                <li><a class="link-menu" href="./assets/templates/contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>

    <footer class="index-footer">
        <p><a class="Hack" href="https://www.hackaboss.com/">Hack a Boss</a></p>
    </footer>

</body>

</html>