<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../recourses/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../recourses/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../recourses/favicon/favicon-16x16.png">
    <link rel="manifest" href="../recourses/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/styles.css">
</head>


<body>

    <header>
        <nav class="navegador">
            <div class="aling-logo">
                <ul class="logo">


                    <li><img id="logo" src="../recourses/favicon/android-chrome-512x512.png" alt=""></li>
                </ul>
            </div>
            <ul class="menu">

                <li><a class="link-menu" href="/index.html">Home</a></li>
                <li><a class="link-menu" href="./ranking.html">Ranking</a></li>
                <li><a class="link-menu" href="./contacto.html">Contacto</a></li>

            </ul>
        </nav>


    </header>

    <main>
        <div class="contenedorPreguntas">
            <div class="encabezadoPreguntas">
                <div class="categoriaPreguntas" id="categoria">
                    Categoria
                </div>
                <div class="preguntaPreguntas" id="Pregunta">
                    Pregunta
                </div>
                <img src="../recourses/img/Babel.gif" class="imagenPregunta">
            </div>
        </div>
        <form action="submit" class="Form-bajo">
            <div class="botonPregunta" id="botonPregunta1">
                <input type="checkbox" id="respuesta1">
                <label for="respuesta1">prueba</label>
            </div>
            <div class="botonPregunta" id="botonPregunta2">
                <input type="checkbox" id="respuesta2">
                <label for="respuesta2">prueba</label>
            </div>
            <div class="botonPregunta" id="botonPregunta3">
                <input type="checkbox" id="respuesta3">
                <label for="respuesta3">prueba</label>
            </div>
            <div class="botonPregunta" id="botonPregunta4">
                <input type="checkbox" id="respuesta4">
                <label for="respuesta4">prueba</label>
            </div>
            <button type="submit" class="boton-enviar-respuestas">Enviar respuesta</button>
        </form>
    </main>


    <footer class="index-footer">
        <a class="Hack" href="https://www.hackaboss.com/">Hack a Boss</a>
        <p class="pfooter">Canarias | Barcelona | Madrid</p>
    </footer>
    <script src="../js/pestaña.js"></script>
    <script src="../js/preguntas.js"></script>
</body>

</html>