<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quiz</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/recourses/favicon-pizza/android-chrome-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/recourses/favicon-pizza/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/recourses/favicon-pizza/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="stylesheet" href="../css/styles.css" />
  <title>PizzaQuiz</title>
</head>

<body>
  <header>
    <nav class="navegador">
      <div class="aling-logo">
        <ul class="logo">
          <li>
            <img id="logo" src="/assets/recourses/pizzacool/android-chrome-384x384.png" alt="" />
          </li>
        </ul>
      </div>
      <ul class="menu">
        <li><a class="link-menu" href="/index.html">Home</a></li>

        <li><a class="link-menu" href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>

    <section class="audio">
      <audio id="audioFondo" src="/assets/sonidos/NeonLights.mp3" autoplay loop></audio>
      <button id="bSilencio"><img src="/assets/recourses/icons/icons8-boca-abierta-48.png" alt="Emiji sonido"></button>

    </section>
    <h2 class="score">Respuestas Correctas: </h2>
    <div class="contenedorPreguntas">
      <div id="pregunta" class="encabezadoPreguntas">
        <h3>Pregunta</h3>
        <div class="preguntaPreguntas"></div>
      </div>
    </div>

    <form action="/" class="Form-bajo" id="respuesta" name="pregunta">
      <div class="show" id="opcion">

      </div>
      <button type="submit" class="boton-enviar-respuestas" id="Send" name="pregunta">
        Enviar respuesta
      </button>
    </form>
  </main>

  <footer class="index-footer">
    <a class="Hack" target="_blank" href="https://www.hackaboss.com/">Hack a Boss</a>
    <p class="pfooter">Canarias | Barcelona | Madrid</p>
  </footer>
  <script src="../js/pestaña.js"></script>
  <script type="module" src="../js/preguntas.js"></script>
  <script src="../js/sonido.js"></script>

</body>

</html>