<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../recourses/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../recourses/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../recourses/favicon/favicon-16x16.png">
    <link rel="manifest" href="../recourses/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>

    <header>
        <nav class="navegador">
            <div class="aling-logo">
                <ul class="logo">
                    <li>Logo</li>
                </ul>
            </div>
            <ul class="menu">

                <li>Home</li>
                <li>Ranking</li>
                <li>Contacto</li>

            </ul>
        </nav>

        </head>
</body>

</html>